
    .btn.btn-primary {
    background-color: #f86608;
    color: var(--white);
    white-space: nowrap;
    --icon-stroke: currentColor;
    --icon-fill-bg: var(--primary);
    }
    .navbar-light {
    border-bottom: 1px solid #E2E6E9;

  }
  .for-login .page-card, .for-forgot .page-card, .for-signup .page-card, .for-email-login .page-card {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #fff;
    box-shadow: var(--shadow-base);
    background-color: lightsteelblue;
    }
  body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../css/bg.jpeg") ;
  }
  .web-footer {
    padding: 5rem 0;
    min-height: 110px;
    
  }
  .navbar-light .navbar-toggler {
    border:2px ;
    border-bottom-color: rgba(0, 255, 0, 0.1);
    background-image: radial-gradient(circle, rgba(248,102,8,1) 7%, rgba(255,255,255,1) 70%);
    
  }
  .navbar {
   height:60px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        
   
  }
  .search-bar .awesomplete input {
    
    border-bottom: 2px solid #f86608;
  }
  .widget.shortcut-widget-box {
    cursor: pointer;
    padding: 14px 7px;
  }
 
  .widget.number-widget-box {
    background-color: #f86608;
    color: white;
    cursor: pointer;
    min-height: 84px;
    padding: var(--number-card-padding);
    border: 1px solid var(--border-color);
  }
  .widget.number-widget-box .widget-body .widget-content .number {
    font-size: var(--text-2xl);
    font-weight: var(--weight-bold);
    letter-spacing: 0.01em;
    line-height: var(--text-line-height-3xl);
    color: white;
  }
  .ellipsis, .awesomplete > ul > li, .widget.shortcut-widget-box .indicator-pill {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
    color: rgb(68, 68, 68);
    font-weight: 600;
  }
  .page-actions .btn:not(.icon-btn), .page-actions div#driver-popover-item .driver-popover-footer button:not(.icon-btn), div#driver-popover-item .driver-popover-footer .page-actions button:not(.icon-btn) {
    padding: 20px 12px;
    font-weight: bold;
  }
  .btn:not(.btn-md):not(.btn-lg), div#driver-popover-item .driver-popover-footer button:not(.btn-md):not(.btn-lg) {
    padding: 15px 12px;
  }
  .icon-xs {
    width: 12px;
    height: 12px;
    stroke-width: 3;
  }
  .widget {
    display: flex;
    flex-direction: column;
    min-height: 1px;
    padding: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    height: 100%;
    background-color: var(--card-bg);
  }
  .widget:hover{
    font-weight:bold;
   
    box-shadow: rgba(248, 102, 8, 0.4) 0px 5px, rgba(248, 102, 8, 0.3) 0px 10px, rgba(248, 102, 8, 0.2) 0px 15px, rgba(248, 102, 8, 0.1) 0px 20px ;
  }

  .standard-sidebar-item .sidebar-item-label {
    flex: 1;
    font-weight: bold;
  }

  .icon, .es-icon {
    font-size: 0;
    fill: transparent;
    stroke: darkgray;
    stroke-width: 2;
    margin-top: 3px;
  }
  .standard-sidebar .standard-sidebar-item .sidebar-item-label, .desk-sidebar .standard-sidebar-item .sidebar-item-label, .search-dialog .search-results .search-sidebar .standard-sidebar-item .sidebar-item-label {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: revert;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    margin-right: -6px;
  }
  .standard-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected .sidebar-item-label .selected{
    background-color:#f86608;
  }
  .navbar-home img {
    max-height: 60px;
   
  }
  .widget.spacer{
    box-shadow: none;
  }
  .app-logo {
    width: 95px !important;
    
    }

.dropdown-item:hover{
      border-bottom: 2.5px solid #f86608;
      font-weight: bold;
    }
 .Union{
  stroke-width: 1;
 }